<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="/blog" title="Previous Page">&laquo; В будущее</a>
        {% else %}
            <a class="newer-posts" href="/blog/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; В будущее</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Страница {{paginator.page}} из {{paginator.total_pages}} </span>
    {% if paginator.next_page %} 
        <a class="older-posts" href="/blog/page{{ paginator.next_page }}/" title="Next Page">В прошлое &raquo;</a>
    {% endif %} 
</nav>
